@use "../../styles/abstracts";

.DescriptionPage {
  padding: 8rem 0rem;
  &__container {
    display: flex;
    @include abstracts.respondMax(abstracts.$tablet-large) {
      flex-direction: column;
    }
  }
  &__main-content {
    flex: 2 0 0;
  }
  &__contract {
    color: var(--color-contract);
    margin-top: var(--margin-regular);
  }
  &__time {
    display: flex;
    margin-top: var(--margin-regular);
    color: var(--color-shade);
  }
  &__icon {
    margin-right: 1rem;
  }
  &__clock-icon {
  }

  &__company-location {
    margin-top: var(--margin-extra-large);
  }
  &__company {
    font-weight: 700;
  }

  &__location {
    display: flex;
    align-items: center;
    color: var(--color-shade);
    margin-top: var(--margin-regular);
  }
  &__description {
    margin-top: var(--margin-extra-large);
    width: 80%;
    @include abstracts.respondMax(abstracts.$tablet-large) {
      width: 100%;
    }
  }
  &__salaries {
    margin-top: var(--margin-extra-large);
    display: flex;
  }
  &__max-salary {
    margin-left: var(--margin-extra-large);
  }
  &__salary {
    color: var(--color-salary);
  }
  &__url {
    flex: 1 0 0;
    margin-left: 2rem;
    @include abstracts.respondMax(abstracts.$tablet-large) {
      margin-left: 0rem;
    }
  }
  &__button {
    text-align: center;
    max-width: 35rem;
    display: block;
    line-height: 1.3;
    text-decoration: none;
    @include abstracts.respondMax(abstracts.$tablet-large) {
      margin-top: 3rem;
    }
  }
}
