.button {
  padding: 2rem 3rem;
  border-radius: var(--border-radius);
  border: none;
  font-family: var(--font-family-2);
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  &--primary {
    background-color: var(--color-tertiary);
    &:hover {
      filter: contrast(0.96);
    }
  }
}

.button-2 {
  padding: 0.5rem 1.5rem;
  border: none;
  &:hover {
    transform: scalex(1.1);
  }
  &--primary {
    color: var(--color-light);
    background-color: var(--color-text);
  }
}

.button-3 {
  padding: 0.7rem 0.9rem;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    filter: contrast(0.9);
  }
  &--primary {
    color: var(--color-text);
    border: 2px solid var(--color-text);
    background-color: transparent;
  }
}
