@use "sass:math";

$desktop: 1100px;
$tablet-small: 600px;
$tablet-large: 760px;

@mixin respondMax($size) {
  @media (max-width: math.div($size, 16px)*1em) {
    @content;
  }
}

@mixin respondMin($size) {
  @media (min-width: math.div($size, 16px)*1em) {
    @content;
  }
}
