main {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f8f8f8;
  .container {
    display: flex;
  }
  .Filters {
    flex: 1 0 0;
  }
  .Results {
    flex: 3 0 0;
    margin-left: 5rem;
  }
}
