@use "../../styles/abstracts";

.JobCard {
  box-shadow: var(--box-shadow-2);
  padding: 2.5rem;
  display: flex;
  background-color: var(--color-light);
  cursor: pointer;
  transition: all 300ms;
  &:hover {
    transform: translatey(-0.2rem);
  }
  @include abstracts.respondMax(abstracts.$mobile-large) {
    padding: 1.8rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  &__main-info {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    & > * + * {
      margin-top: 1.5rem;
    }
  }
  &__company-name {
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: 5rem;
  }
  &__title {
    font-weight: 700;
  }
  &__location-contract {
    display: flex;
    align-items: center;
    @include abstracts.respondMax(abstracts.$mobile-large) {
      display: block;
    }
  }
  &__contract {
    margin-left: 1.3rem;
    @include abstracts.respondMax(abstracts.$mobile-large) {
      margin-left: 0rem;
      margin-top: 1.5rem;
    }
  }
  &__location-wrapper {
    display: flex;
    align-items: center;
  }
  &__location {
    color: var(--color-shade);
    margin-left: 1rem;
  }
  &__date {
    color: var(--color-shade);
  }
  &__contract {
    font-weight: 700;
    color: var(--color-contract);
  }
  &__date-salary {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    @include abstracts.respondMax(abstracts.$mobile-large) {
      flex-direction: row;
      align-items: center;
    }
  }
  &__icon {
    color: var(--color-shade);
  }
  &__salary-group {
    display: flex;
    flex-direction: column;
  }
  &__salary {
    margin-left: auto;
    &:first-of-type {
      margin-bottom: 1rem;
    }
    color: var(--color-salary);
    font-weight: 500;
  }
}
