.JobCard {
  box-shadow: var(--box-shadow-2);
  padding: 2.5rem;
  display: flex;
  background-color: var(--color-light);
  cursor: pointer;
  transition: all 300ms;
  &:hover {
    transform: translatey(-0.2rem);
  }
  &__main-info {
    flex: 0 0 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  &__company-name {
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: 5rem;
  }
  &__title {
    font-weight: 700;
  }
  &__location-contract {
    display: flex;
    gap: 1.3rem;
  }
  &__location-wrapper {
    display: flex;
    gap: 1rem;
  }
  &__location {
    color: var(--color-shade);
  }
  &__date {
    color: var(--color-shade);
  }
  &__contract {
    font-weight: 700;
    color: var(--color-contract);
  }
  &__date-salary {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__icon {
    color: var(--color-shade);
  }
  &__salary-group {
    display: flex;
    flex-direction: column;
  }
  &__salary {
    margin-left: auto;
    &:first-of-type {
      margin-bottom: 1rem;
    }
    color: var(--color-salary);
    font-weight: 500;
  }
}
