@use "../../styles/abstracts";

.JobSearchForm {
  display: flex;
  justify-content: center;
  @include abstracts.respondMax(abstracts.$desktop) {
    flex-wrap: wrap;
    margin-top: var(--margin-extra-large);
  }
  @include abstracts.respondMax(abstracts.$tablet-small) {
    flex-direction: column;
    flex-wrap: no-wrap;
    margin-top: var(--margin-extra-large);
  }
  &__input-group {
    position: relative;
    margin-bottom: 2rem;
    &:not(:first-child) {
      margin-left: 1rem;
      @include abstracts.respondMax(abstracts.$tablet-small) {
        margin-left: 0rem;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    left: 2rem;
  }
  .Dropdown {
    position: absolute;
    top: 90%;
    z-index: 5;
    @include abstracts.respondMax(abstracts.$tablet-small) {
      width: 100%;
    }
  }
  .SelectBox {
    display: flex;
    align-items: center;
    justify-content: center;
    @include abstracts.respondMax(abstracts.$tablet-small) {
      width: 100%;
    }
  }
  .TextInput {
    font-size: 1.65rem;
    &::placeholder {
      font-size: 1.6rem;
      font-weight: 500;
    }
    @include abstracts.respondMax(abstracts.$tablet-small) {
      width: 100%;
    }
  }
  &__button {
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: black;
    @include abstracts.respondMax(abstracts.$desktop) {
      flex: 0 0 50%;
    }
    @include abstracts.respondMax(abstracts.$tablet-small) {
      margin-left: 0rem;
    }
  }
}
