@use "../../styles/abstracts";

.Header {
  background-color: #abedc6;
  padding: 2rem 0rem;
  height: 18rem;
  @include abstracts.respondMax(abstracts.$desktop) {
    height: auto;
  }
  &__logo {
    cursor: pointer;
  }
  .JobSearchForm {
    margin-top: 3rem;
  }
}
