.SelectBox {
  width: 12rem;
  height: 100%;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  position: relative;
  cursor: pointer;
  &__screen {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
  }
  &__screen-text {
    font-size: 1.7rem;
    color: var(--color-text);
  }
  &__icon {
    margin-left: 1rem;
    font-size: 1.8rem;
    color: var(--color-text);
  }
  &__list {
    text-transform: uppercase;
    list-style-type: none;
    position: absolute;
    top: 90%;
    width: 100%;
    background-color: var(--color-light);
    height: 30rem;
    overflow: scroll;
    box-shadow: var(--box-shadow);
    padding: 1.8rem 1.5rem;
    z-index: 5;
    border: 0.6px solid var(--color-text);
    &--closed {
      display: none;
    }
  }
  &__item {
    width: 100%;
    background: none;
    border: none;
    padding: 1rem 2rem;
    color: var(--color-dark);
    font-size: 1.85rem;
    cursor: pointer;
    &:first-of-type {
      margin-top: 1rem;
    }
    &:hover {
      background-color: var(--color-tertiary);
    }
  }
  &__invalid-item {
    padding: 0rem 0rem 1.5rem 0rem;
    text-align: center;
    border-bottom: 1px solid var(--color-text);
  }
}
