.SelectBox {
  width: 12rem;
  height: 100%;
  background-color: var(--color-light);
  border-radius: var(--border-radius);
  position: relative;
  &__screen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-transform: uppercase;
  }
  &__icon {
    margin-left: 1rem;
  }
  &__list {
    text-transform: uppercase;
    list-style-type: none;
    position: absolute;
    top: 90%;
    width: 100%;
    background-color: var(--color-light);
    height: 30rem;
    overflow: scroll;
    box-shadow: var(--box-shadow);
    padding: 1.8rem 1.5rem;
    z-index: 5;
    &--closed {
      display: none;
    }
  }
  &__item {
    padding: 1rem 2rem;
    &:hover {
      background-color: var(--color-tertiary);
    }
  }
  &__invalid-item {
    padding: 0rem 0rem 1.5rem 0rem;
    text-align: center;
    border-bottom: 1px solid var(--color-text);
  }
}
