:root {
  --color-primary: #f6f7fb;
  --color-secondary: #1e86ff;
  --color-tertiary: yellow;
  --color-light: white;
  --color-text: #334680;
  --color-shade: #b9bdcf;
  --color-grey: #f3f3f3;

  --font-family-1: "Roboto", sans-serif;
  --font-family-2: "Poppins", sans-serif;

  --margin-extra-large: 3rem;
  --margin-large: 1.5rem;
  --margin-regular: 1rem;
  --margin-small: 0.5rem;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-1);
  font-size: 1.6rem;
  color: var(--color-text);
  background-color: var(--color-primary);
}
