:root {
  --color-primary: #f6f7fb;
  --color-secondary: #1e86ff;
  --color-tertiary: yellow;
  --color-light: white;
  --color-text: #334680;
  --color-shade: rgba(0, 0, 0, 0.43);
  --color-grey-1: #f3f3f3;

  --font-family-1: "Roboto", sans-serif;
  --font-family-2: "Poppins", sans-serif;

  --margin-extra-large: 3rem;
  --margin-large: 1.5rem;
  --margin-regular: 1rem;
  --margin-small: 0.5rem;

  --border-radius: 8px;
  --box-shadow: 0rem 1rem 5rem rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0rem 0.5rem 1rem lightgrey;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: var(--font-family-1);
  font-size: 1.6rem;
  color: var(--color-text);
  background-color: var(--color-primary);
  min-height: 100vh;
}
