:root {
  --color-primary: #f6f7fb;
  --color-secondary: #1e86ff;
  --color-light: white;

  --color-text: #334680;
  --color-shade: #b9bdcf;

  --font-family-1: "Roboto", sans-serif;
  --font-family-2: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}
