.logo {
  font-family: var(--font-family-2);
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.6rem;
}

.text-large {
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.813rem;
}

.text-regular {
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.text-medium-1 {
  font-family: var(--font-family-2);
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.text-medium-2 {
  font-family: var(--font-family-2);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.text-small-1 {
  font-family: var(--font-family-1);
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.406rem;
}

.text-small-2 {
  font-family: var(--font-family-1);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 1.406rem;
}
